* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 400ms cubic-bezier(0.120, 0.860, 0.190, 0.915);
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Loto";
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Loto Bold";
    src: url(../fonts/lato/Lato-Bold.ttf);
}

.hidden {
    display: none;
}

body {
    background-color: rgb(33, 33, 33);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 64px;
    border-bottom: 2px white solid;
}

.right-nav-container,
.left-nav-container {
    display: flex;
    align-items: center;
}

#nav-link {
    margin: 0 12px;
    color: white;
    font-family: "Loto";
    text-decoration: none;
}

#nav-link:hover {
    color: rgb(255, 213, 0);
    transform: scale(1.025);
}

#nav-link:active {
    transform: scale(0.90);
}

#nav-link[data-type="cta"] {
    background-color: rgb(255, 230, 0);
    color: rgb(33, 33, 33);
    padding: 8px 18px;
}

#nav-link[data-type="cta"]:hover {
    background-color: rgb(155, 140, 0);
    color: rgb(33, 33, 33);
    padding: 8px 22px;
}

hr {
    border: 2px solid grey;
    width: 172px;
    margin: 0 auto 128px auto;
}

.hr {
    background-color: white;
    width: 2px;
    height: 4px;

}

.footer-hr {
    background: white;
    width: 2px;
    height: 64px;
}

.logo {
    margin-right: 24px;
}

#search-input {
    width: 256px;
    height: 32px;
    border-radius: 0;
    border: 2px rgb(255, 230, 0) solid;
    margin-right: 18px;
    background: none;
    color: white;
    font-family: "Loto";
    outline: none;
    padding: 8px;
}

#search-btn {
    margin-right: 32px;
}

#search-btn:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

#cart-btn {}

#cart-btn:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.input-container {
    display: flex;
    align-items: center;
    margin-right: 48px;
}

h1 {
    text-align: center;
    font-size: 72px;
    font-family: "Loto Bold";
    color: white;
    margin: 128px 0;
}

#contact-form {
    background: none;
    border: 2px rgb(255, 230, 0) solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto 128px auto;
    padding: 128px 64px;
}

#contact-form label {
    margin: 8px 0;
    color: #FFFFFF;
    font-family: "Loto";
}

#contact-form input {
    background: none;
    outline: none;
    color: white;
    font-family: "Loto";
    border: 2px rgb(255, 230, 0) solid;
    padding: 8px 16px;
}

#contact-form [type="submit"] {
    width: 30%;
    margin: 82px auto 0 auto;
    background-color: rgb(255, 230, 0);
    color: rgb(33, 33, 33);
    border: none;
    padding: 8px 16px;
    font-family: "Loto";
}

#contact-form [type="submit"]:hover {
    background-color: rgb(155, 140, 0);
    padding: 8px 22px;
    cursor: pointer;
}

#contact-form [type="checkbox"] {
    margin-right: 4px;
    transform: scale(1.25);
}

.contact-form-checkbox-container {
    margin-top: 18px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 64px;
    border-top: 2px white solid;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    margin: 0 128px;
}

#footer-link {
    margin: 0 12px;
    color: white;
    font-family: "Loto";
    text-decoration: none;
}

#footer-link:hover {
    color: rgb(255, 213, 0);
    transform: scale(1.025);
}

#footer-link:active {
    transform: scale(0.90);
}

.footer-medias-container {
    margin: 0 128px;
}

.footer-media-component {
    display: flex;
}

.footer-media-name {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-family: "Loto";
    font-weight: 700;
}

.footer-media-name:hover {
    color: rgb(255, 213, 0);
    transform: scale(1.025);
}

.footer-media-name:active {
    transform: scale(0.90);
}

/* ABOUT PAGE */
.about-description {
    font-family: "Loto";
    font-size: 18px;
    margin: 128px 0;
    padding: 0 64px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1153px) {
    nav {
        padding: 24px 28px;
    }

    #nav-link {
        display: none;
    }

    .input-container {
        margin-right: 0;
    }

    .hr {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    #search-input {
        display: none;
    }

}